{% extends "nosidebar.html" %}

{% block main %}
<BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<BR/><BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<BR/>
<table width = "100%">
	<td width="25%">	<a href="/"><img src="{{ STATIC_URL }}main_model1" height = 400 width = 300 /></a></td>
	<td width="25%">	<a href="/"><img src="{{ STATIC_URL }}main_model2" height = 400 width = 300 /></a></td>
	<td width="25%">	<a href="/"><img src="{{ STATIC_URL }}main_model3" height = 400 width = 300 /></a></td>
	<td width="25%">	<a href="/"><img src="{{ STATIC_URL }}main_model4" height = 400 width = 300 /></a></td>
</table>
{% endblock %}
