{% extends "home_sidebar.html" %}

{% block sidemain %}
<h1> Home </h1>
<div id="firstTab">first content</div>
<div id="secondTab">second content</div>
<div id="thirdTab">Third content</div>
<div id="forthTab">Forth content</div>

sidemain<br/>

sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>
sidemain<br/>

{% endblock %}
